<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Cliente</title>
    <meta charset="UTF-8">
</head>
<body>

<h1 th:text="${cliente.DPICliente} != null ? 'Editar Cliente' : 'Nuevo Cliente'"></h1>

<form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">

    <label>DPI:</label>
    <input type="text" th:field="*{DPICliente}" required/>
    <br><br>

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/>
    <br><br>

    <label>Apellido:</label>
    <input type="text" th:field="*{apellido}" required/>
    <br><br>

    <label>Teléfono:</label>
    <input type="text" th:field="*{telefono}" required/>
    <br><br>

    <button type="submit">Guardar</button>
</form>

<br>
<a th:href="@{/clientes}">Volver</a>

</body>
</html>